# Build
build

# yarn.lock
package-lock.json
yarn.lock

# .idea
.idea
# CMake
cmake-build-*/

### react ###
.DS_*
*.log
logs
**/*.backup.*
**/*.back.*


node_modules
bower_components

*.sublime*

psd
thumb
sketch

npm-debug.log*
yarn-debug.log*
yarn-error.log*

dist